@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import "tailwindcss";
@tailwind utilities;

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: "Instrument Sans", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
}

body {
    @apply bg-gray-100 text-gray-700;
    font-family: "Roboto";
}
h1 {
    @apply text-2xl font-bold;
}
h2 {
    @apply text-xl font-bold my-4;
}
h3 {
    @apply text-lg font-bold my-4;
}
ul {
    @apply my-10;
}
p {
    @apply my-2;
    font-size: 0.75rem;
}

/* header */
header {
    @apply bg-white;

    nav {
        @apply flex items-center gap-5 max-w-5xl px-12 py-4 mx-auto;
    }
    h1 {
        @apply mr-auto;
    }
}

/* form elements */
form {
    @apply max-w-screen-sm;
}
input,
select,
textarea {
    @apply block w-full mt-2 mb-4 p-2;
}

/* custom classes */
.container {
    @apply max-w-5xl mx-auto px-12 py-8;
}
.card {
    @apply bg-white rounded border border-gray-200 flex;
}

.tag {
    @apply bg-white rounded-md border-2 border-gray-200 flex items-center justify-center h-6 px-3 w-fit;
}

.card-text {
    @apply my-0;
}

.highlight {
    @apply border-l-4 border-l-red-500;
}
.btn {
    @apply rounded px-3 py-2 bg-gray-200 hover:bg-red-500 hover:text-white;
}

.card-text {
    overflow-wrap: anywhere;
    word-break: break-word;
}
